<!doctype html>
<html>
  <head>
    <title>Pair Programming Bot</title>
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
  </head> 
  <body>
  <div class="text">
    <%= @question %>
  </div>
  <div class="buttons">
    <%= yield %>
  </div>  
 </body>
</html>